.App {
  text-align: center;
}

.selection {
  outline: none;
  margin: 2rem;
  font-size: 6rem;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
}
.selection:hover {
  transform: scale(1.5);
}
.titles {
  font-size: 3rem;
  color: #1e90ff;
}
.count {
  font-size: 1.5rem;
  padding-left: 1rem;
  text-decoration: none;
  color: black;
}
.listItem {
  font-size: 4rem;
  list-style-type: none;
}
